.midbody {
  height: 1000px;
  width: 100%;
  overflow-x: hidden;
}

.bodyimg {
  width: 100%;
}

.midbodydiv {
  height: 100%;
  width: 99vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.middivinfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  text-align: center;
}
