.footer {
  display: flex;
  height: 80px;
  background-color: black;
  color: white;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid burlywood;
  z-index: 100;
}
