.heading {
  background-color: black;
  color: white;
  display: inline-block;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  border-bottom: 1px burlywood solid;
  padding-bottom: 15px;
  z-index: 10;
}

.heading a {
  color: white;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info button {
  color: white;
  text-shadow: none;
  cursor: pointer;
  border: none !important;
  background: none;
  font-weight: bold;
}

.info button:hover {
  color: aqua;
}

.info Link:hover {
  color: aqua;
  transform: translateX(10px)
}

@media (max-width: 600px) {
  .info button {
    display: none;
  }
}
